/* resets */
body {
  margin: 0;
}

#card-container {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  height: 169px;
  width: 110px;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 5px;
}

.front {
  background-color: black;
  backface-visibility: hidden;
}

.back {
  background-color: blue;
  backface-visibility: hidden;
}

.flipCard {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}
